<div id="container">
		<div id="wrapper">
			<div id="join" class="animate join" *ngIf="!room">
				<h1>Join a Room</h1>
				<form #f="ngForm" (ngSubmit)="register(userName.value, roomName.value); userName.value='';roomName.value=''" accept-charset="UTF-8">
					<p>
						<input #userName type="text" name="name" placeholder="Username" required>
					</p>
					<p>
						<input #roomName type="text" name="room" placeholder="Room" required>
					</p>
					<p class="submit">
						<input type="submit" name="commit" value="Join!" id="joinBtn">
					</p>
				</form>
			</div>
			<div id="room" *ngIf="room">
				<h2 id="room-header"></h2>
				<div id="myVideo"></div>
				<div id="participants"></div>
				<input type="button" id="buttonLeaveRoom" (mouseup)="leaveRoom()"
					value="Leave room">
			</div>
		</div>
</div>